[submodule "third_party/detectron2"]
	path = third_party/detectron2
	url = git@github.com:facebookresearch/detectron2.git
[submodule "third_party/Detic"]
	path = third_party/Detic
	url = git@github.com:zhuyifengzju/Detic.git
